<!DOCTYPE html >
<html layout:decorator="layout/mainlayout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block layout:fragment="content">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Faculty details</h2>

                <a th:href="@{/faculty/}" class="btn btn-info pull-right" role="button">Back</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td th:text="${faculty.id}"></td>
                    </tr>
                    <tr>
                        <th scope="row">First Name</th>
                        <td th:text="${faculty.firstname}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name</th>
                        <td th:text="${faculty.lastname}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td th:text="${faculty.user.email}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td th:text="${faculty.description}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Courses</th>
                        <td>
                            <ul>
                                <li th:each="c : ${faculty.courses}" th:text="${c.name}"></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</th:block>

</body>
</html>