<!DOCTYPE html >
<html layout:decorator="layout/mainlayout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block layout:fragment="content">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Schedules</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
            	<div th:with="prevBlock=${0}">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Course Number</th>
                        <th>Course Name</th>
                        <th>Building</th>
                        <th>Room Number</th>
                        <th>Professor</th>
                        <th>Capacity</th>
                        <th>Enrolled</th>
                        <th>Seats Available</th>
                    </tr>
                    </thead>
                    <tbody>
					<tr th:each="block : ${blocks}">
					    <td th:text="${block.name}" colspan="10" class="block_row"></td>
					    
					    <tr th:each="section,counter : ${block.sections}">
	                        <th scope="row" th:text="${counter.count}"></th>
	                        <td th:text="${section.course.code}"></td>
	                        <td th:text="${section.course.name}"></td>
	                        <td th:text="${section.building}"></td>
	                        <td th:text="${section.roomNumber}"></td>
	                        <td th:text="${section.faculty.firstname}"></td>
	                        <td th:text="${section.course.maxStudent}"></td>
	                        <td th:text="${section.enrolledStudentsCount}"></td>
	                        <td th:text="${section.course.maxStudent}"></td>
	                    </tr>
					</tr>
                    </tbody>
                </table>
				</div>
            </div>
        </div>
    </div>
</th:block>


<th:block layout:fragment="footer">
</th:block>

</body>
</html>