<!DOCTYPE html >
<html layout:decorator="layout/mainlayout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block layout:fragment="content">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>View <span th:text="${course.name}"></span> registered students</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Student id</th>
                        <th>Entry</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                    </tr>
                    </thead>
                    <tbody>
					<tr th:each="student,counter : ${students}">
					    <tr> 
	                        <th scope="row" th:text="${counter.count}"></th>
	                        <td th:text="${student.id}"></td>
	                        <td th:text="${student.entry.name}"></td>
	                        <td th:text="${student.firstname}"></td>
	                        <td th:text="${student.lastname}"></td>
	                    </tr>
					</tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>


<th:block layout:fragment="footer">
</th:block>

</body>
</html>