<!DOCTYPE html >
<html layout:decorator="layout/mainlayout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block layout:fragment="content">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>View scheduled courses</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Course Number</th>
                        <th>Course Name</th>
                        <th>Building</th>
                        <th>Room Number</th>
                        <th>Professor</th>
                        <th>Entrolled students</th>
                    </tr>
                    </thead>
                    <tbody>
					<tr th:each="section,counter : ${sections}">
					    <td th:text="${section.block}" colspan="10" class="block_row"></td>
					    
					    <tr> 
	                        <th scope="row" th:text="${counter.count}"></th>
	                        <td>
	                        	<a th:text="${section.course.code}" th:href="${'/faculty/course/'+{section.course.id} + '/' + {section.block.id} }">Course code</a>
	                        </td>
	                        <td>
	                        	<a th:text="${section.course.name}" th:href="${'/faculty/course/'+{section.course.id} + '/' + {section.block.id} }">Course code</a>
	                        </td>
	                        <td th:text="${section.building}"></td>
	                        <td th:text="${section.roomNumber}"></td>
	                        <td th:text="${section.faculty.firstname}"></td>
	                        <td th:text="${section.enrolledStudentsCount}"></td>
	                    </tr>
					</tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>


<th:block layout:fragment="footer">
</th:block>

</body>
</html>