<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
</head>
<body>
    <div th:each="student : ${students}">
        <div th:text="${student.id}"></div>
        <div th:text="${student.firstname}"></div>
        <div th:text="${student.email}"></div>
        <div>
            <a th:href="@{'/student/' + ${student.id}}">Edit</a>&nbsp;
            <a th:href="@{'/student/delete/' + ${student.id}}">Delete</a>
        </div>
    </div>
</body>
</html>