<!DOCTYPE html >
<html layout:decorator="layout/mainlayout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block layout:fragment="content">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Student details</h2>

                <a th:href="@{/student/}" class="btn btn-info pull-right" role="button">Back</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td th:text="${student.id}"></td>
                    </tr>
                    <tr>
                        <th scope="row">First Name</th>
                        <td th:text="${student.firstname}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name</th>
                        <td th:text="${student.lastname}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td th:text="${student.user.email}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td th:text="${student.description}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Birth Date</th>
                        <td th:text="${student.birthDate}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Is US Resident</th>
                        <td th:text="${student.isUSResident} ? 'Yes' : 'No'"></td>
                    </tr>
                    <tr>
                        <th scope="row">Practice Training Type</th>
                        <td th:text="${student.ptType} ? 'OPT' : 'CPT'"></td>
                    </tr>
                    <tr>
                        <th scope="row">Track</th>
                        <td th:text="${student.track} ? 'MPP' : 'FPP'"></td>
                    </tr>
                    <tr>
                        <th scope="row">Entry</th>
                        <td><a th:href="@{/entry/read/{id}(id=${student.entry.id})}" th:text="${student.entry.name}"></a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</th:block>

</body>
</html>