<!DOCTYPE html >
<html layout:decorator="layout/mainlayout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block layout:fragment="content">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Courses list</h2>

                <ul class="nav navbar-right panel_toolbox">
                    <li><a th:href="@{/course/new}" class="close-link"><i class="fa fa-plus"></i> Add new course</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="course : ${courses}">
                        <th scope="row" th:text="${course.id}"></th>
                        <td th:text="${course.code}"></td>
                        <td th:text="${course.name}"></td>
                        <td>
                            <a th:href="@{/course/read/{id}(id=${course.id})}" class="btn btn-sm btn-default">Details</a>
                            <a th:href="@{/course/edit/{id}(id=${course.id})}" class="btn btn-sm btn-default">Edit</a>
                            <button class="delete btn btn-sm btn-default" th:attr="data-id=${course.id}">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</th:block>


<th:block layout:fragment="footer">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $(document).on('click', '.delete', function () {
                var id = $(this).data('id');
                console.log(id);
                if (id && confirm('Confirm delete')) {
                    $.ajax({
                        url: '/course/delete/' + id,
                        method: 'DELETE'
                    }).done(function (response) {
                        console.log(response);
                    }).fail(function (error) {
                        console.log(error);
                    }).always(function () {
                        window.location.reload();
                    });
                }
            })
        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>