<!DOCTYPE html >
<html layout:decorator="layout/mainlayout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block layout:fragment="content">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>My Profile</h2>

                <a th:href="@{/profile/edit}" class="btn btn-info pull-right" role="button">Update</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2">Basic info</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td th:text="${profile.id}"></td>
                    </tr>
                    <tr>
                        <th scope="row">First Name</th>
                        <td th:text="${profile.firstname}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name</th>
                        <td th:text="${profile.lastname}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td th:text="${profile.user.email}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Bio</th>
                        <td th:text="${profile.description}"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table" th:if="${student}">
                    <thead>
                    <tr>
                        <th colspan="2">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Entry</th>
                            <td th:text="${student.entry.name}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Birth date</th>
                            <td th:text="${student.birthDate}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Is US resident?</th>
                            <td th:text="${student.isUSResident ? 'Yes' : 'No'}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Is Data Science track?</th>
                            <td th:text="${student.track ? 'Yes' : 'No'}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Is OPT?</th>
                            <td th:text="${student.ptType ? 'Yes' : 'No'}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" th:if="${faculty}">
                    <thead>
                    <tr>
                        <th colspan="2">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Courses</th>
                            <td><span th:each="e: ${faculty.courses}" th:text="${e.name + ', '}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>