.btn-logout{
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #5A738E;
    white-space: nowrap;
    border-radius: 0;
    border: none;
    outline: 0;
    
    width: 100%;
    padding: 12px 20px;
    
    background: none;
    text-align: left;
    margin: 0;
}
.btn-logout:hover{
	color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    outline: 0;	
}
.block_row{
	font-weight: bold;
	font-size: 1.2em;
	background-color: #f5f5f5;
}
.block_chosen_row,
.block_chosen_row:hover,
.block_chosen_row:focus,
.block_chosen_row:active{
	background-color: #5ABDD5 !important;
    color: white !important;
}