<!DOCTYPE html >
<html layout:decorator="layout/mainlayout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="header">
		<title>MUMSched - Login page</title>
	</th:block>
	
	<th:block layout:fragment="content">
				
		<div class="">
		     <div class="row top_tiles">
		       <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
		         <div class="tile-stats">
		           <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
		           <div class="count">15</div>
		           <h3>All courses</h3>
		           <p>All registered courses.</p>
		         </div>
		       </div>
		       <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
		         <div class="tile-stats">
		           <div class="icon"><i class="fa fa-comments-o"></i></div>
		           <div class="count">20</div>
		           <h3>All faculties</h3>
		           <p>All registered faculties.</p>
		         </div>
		       </div>
		       <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
		         <div class="tile-stats">
		           <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
		           <div class="count">210</div>
		           <h3>All students</h3>
		           <p>All registered students.</p>
		         </div>
		       </div>
		       <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
		         <div class="tile-stats">
		           <div class="icon"><i class="fa fa-check-square-o"></i></div>
		           <div class="count">5</div>
		           <h3>All blocks</h3>
		           <p>All registered blocks.</p>
		         </div>
		       </div>
		     </div>
		
		
		  <div class="row">
		    <div class="col-md-12">
		      <div class="x_panel">
		        <div class="x_title">
		          <h2>Weekly Summary <small>Activity shares</small></h2>
		          <ul class="nav navbar-right panel_toolbox">
		            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		            </li>
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="#">Settings 1</a>
		                </li>
		                <li><a href="#">Settings 2</a>
		                </li>
		              </ul>
		            </li>
		            <li><a class="close-link"><i class="fa fa-close"></i></a>
		            </li>
		          </ul>
		          <div class="clearfix"></div>
		        </div>
		        <div class="x_content">
		
		          <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
		            <div class="col-md-7" style="overflow:hidden;">
		              <span class="sparkline_one" style="height: 160px; padding: 10px 25px;">
		                            <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
		                        </span>
		              <h4 style="margin:18px">Weekly sales progress</h4>
		            </div>
		
		            <div class="col-md-5">
		              <div class="row" style="text-align: center;">
		                <div class="col-md-4">
		                  <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
		                  <h4 style="margin:0">Bounce Rates</h4>
		                </div>
		                <div class="col-md-4">
		                  <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
		                  <h4 style="margin:0">New Traffic</h4>
		                </div>
		                <div class="col-md-4">
		                  <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
		                  <h4 style="margin:0">Device Share</h4>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</th:block>
	
	<th:block layout:fragment="footer">
	</th:block>
</body>
</html>
     