<!DOCTYPE html >
<html layout:decorator="layout/emptylayout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="header">
		<title>MUMSched - Login page</title>
	</th:block>

	<th:block layout:fragment="content">
		<div class="sufee-login d-flex align-content-center flex-wrap">
	        <div class="container">
	        	<div class="row">
	        		<div class="col-md-12">
			            <div class="login-content">
			                <div class="login-logo">
			                    <h3 class="login-title">MUMSched login</h3>
			                </div>
			                <div class="login-form">
			                    <form th:action="@{/login}" method="post">
			                        <div class="form-group">
			                            <label>Email address</label>
			                            <input type="email" name="email" class="form-control" placeholder="Email" required=""/>
			                        </div>
			                        <div class="form-group">
			                            <label>Password</label>
			                            <input type="password" name="password" class="form-control" placeholder="Password" required=""/>
			                        </div>
			                        <div class="checkbox">
			                            <label>
			                                <input type="checkbox"/> Remember Me
			                            </label>
			                            <label class="pull-right">
			                                <a href="#">Forgotten Password?</a>
			                            </label>
			
			                        </div>
			                        <button type="submit" class="btn btn-success btn-flat">Sign in</button>
			                        
			                        <div class="register-link m-t-15 text-center">
			                            <p>Don't have account? <a href="/register" class="login-link"> Sign Up Here</a></p>
			                        </div>
			                    </form>
			                </div>
			            </div>
		            </div>
	            </div>
	        </div>
	    </div>
	</th:block>

	<th:block layout:fragment="footer">
	</th:block>
</body>
</html>