<!DOCTYPE html >
<html layout:decorator="layout/mainlayout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block layout:fragment="content">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Block details</h2>

                <a th:href="@{/block/}" class="btn btn-info pull-right" role="button">Back</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td th:text="${block.id}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Entries</th>
                        <td>
                            <span th:each="e: ${block.entries}" th:text="${e.name}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td th:text="${block.name}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Start date</th>
                        <td th:text="${block.startDate}"></td>
                    </tr>
                    <tr>
                        <th scope="row">End date</th>
                        <td th:text="${block.endDate}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</th:block>

</body>
</html>